.prokrutka {
/*   width:250px; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  height:200px; /* высота нашего блока */
  background: #fff; /* цвет фона, белый */
  border: 1px solid #C1C1C1; /* размер и цвет границы блока */
  overflow-y: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
  box-sizing: content-box;
  min-width: 200px;
  }
  .prokrutka div {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    
  }
  .list{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
  }
